table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 95%;
  margin-left: 20px;
  margin-bottom: 20px;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(194, 194, 194);
  color: white;
}
.cta {
  border-radius: 25px;
  padding: 5px 15px;
  border: solid 2px transparent;
  background-color: rgb(105, 105, 114);
  color: white;
  font-weight: 600;
  font-size: 15px;
}

tr .cta {
  opacity: 0;
}

tr:hover .cta {
  opacity: 1;
}
.candidates,
.results {
  padding-top: 100px;
  padding-left: 5px;
}
.addBtn {
  margin-bottom: 100px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(185, 185, 185);
  color: white;
  text-align: center;
}
